<a href="https://colab.research.google.com/github/OswaldoSG/InteligenciaArtificialOISG/blob/main/Practica%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

# Evaluación diagnóstica

¿Cómo se declara una lista en python?

[link text](https://)# New Section

In [ ]:
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

¿Qué función se usa para conocer el número de elementos en una lista?

In [ ]:
print(len(my_list))

3

¿Qué resultado obtendremos al ejecutar el siguiente código?

In [ ]:
a=[1,2,3,4,5]
print(a[::-1])

[5, 4, 3, 2, 1]

¿Cuál es el resultado de la siguiente expresión?

In [ ]:
print(3*"5"+2)

TypeError: can only concatenate str (not "int") to str

¿Qué salida generará el siguiente código?

In [ ]:
def foo(x,y=[]):
  y.append(x)
  return y
print(foo(1))
print(foo(2,[]))
print(foo(3))

[1]
[2]
[1, 3]

¿Qué resultado obtendremos al ejecutar el siguiente código?

In [ ]:
def multiply_list(numbers, factor):
 result=[]
 for number in numbers:
  result.append(number*factor)
 return result
my_list=[1,2,3]
output=multiply_list(my_list,2)
print(output)

[2, 4, 6]

# Práctica de python

In [14]:
#Declaración de variables
numeros =[10,15,36,98,77,34,89,58]
print(numeros[2])
pares = []
impares = []

36

In [15]:
#Ciclo for para recorrer la lista
for numero in numeros:
  if numero % 2 == 0:
   pares.append(numero)
  else:
   impares.append(numero)

In [17]:
print("Pares:",pares, "total", len(pares))
print("Impares:",impares, "total", len(impares))

Pares: [10, 36, 98, 34, 58] total 5
Impares: [15, 77, 89] total 3

In [19]:
#Función suam de los numeros pares
def suma_pares(lista):
  suma = 0
  for numero in lista:
    suma += numero
  return suma

In [21]:
#Impresión de números pares
print("La suma de los pares es:", suma_pares(pares))
print("La suma de los impares es:", suma_pares(impares))

La suma de los pares es: 236
La suma de los impares es: 181